## Apache Tomcat: Apps, Apps Properties, Deployed Apps
**/apps-repo/*
**/webapps/*/**
**/Catalina/localhost/*
**/etc/application-*

## Application data
**/docker-data/**/*

## Application Logs
**/logs/*

## Nginx server
**/nginx-storage/conf/*
**/nginx-storage/html/**/**

## Others
**/.project
